POSTGRES_USER=smart_med
POSTGRES_PASSWORD=smart_med_pass
POSTGRES_DB=smart_medical
POSTGRES_HOST_PORT=5433

NACOS_HTTP_HOST_PORT=8848
NACOS_GRPC_CLIENT_HOST_PORT=9848
NACOS_GRPC_RAFT_HOST_PORT=9849

REDIS_HOST_PORT=6380

KAFKA_HOST_PORT=9094

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_API_HOST_PORT=9005
MINIO_CONSOLE_HOST_PORT=9006
